<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\sharpmeter-internal.log">
	<variable name='LibraryLevel' value='Off' />
	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/${shortdate}_log.txt" layout="${date} (${level}): ${message}"
				archiveAboveSize="104857600"
				maxArchiveDays="5"
				enableArchiveFileCompression="true"
				archiveFileName="{basedir}/logs/${date}_log.txt" archiveEvery="Day" />
		<target name="ConsoleTarget" xsi:type="Console" layout="${date} (${level}): ${message}" />
	</targets>

	<rules>
		<logger minLevel='${var:LibraryLevel}' writeTo="ConsoleTarget" />
		<logger minLevel='${var:LibraryLevel}' writeTo="logfile" />
	</rules>
</nlog>